.container {
  max-width: 1100px;
  margin: auto;
}

.sidebar {
  background: #fff;
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  padding: 1em;
  @include bp(sm) {
    margin: 0 0 1.5em 0;
  }
}

.main {
  padding: 0 0 2em 0;
  @include cf;
}