.column {
  float: left;
  padding: 0 1em;
  @include bp(sm) {
    float: none;
  }
  &.column--quarter {
    width: 25%;
    @include bp(sm) {
      width: auto;
    }
  }
  &.column--one-third {
    width: 33%;
    @include bp(sm) {
      width: auto;
    }
  }
  &.column--two-thirds {
    width: 67%;
    @include bp(sm) {
      width: auto;
    }
  }
  &.column--first {
    padding-left: 0;
    @include bp(sm) {
      padding-right: 0;
    }
  }
  &.column--last {
    padding-right: 0;
    @include bp(sm) {
      padding-left: 0;
    }
  }
  &.column--half {
    width: 50%;
    @include bp(sm) {
      width: auto;
    }
  }
  &.column--full {
    width: 100%;
    @include bp(sm) {
      width: auto;
    }
  }
}