<div class="browser">
  <div class="browser__options">
    <div class="browser__search">
      <input type="text" class="browser__input" name="q" placeholder="Filter Collections">
    </div>
    <div class="browser__items">
      <div class="browser__group">
        <div class="browser__group-title">Common</div>
        <div class="browser__group-items">
          <div class="browser__item">
            <div class="browser__item-icon">
              <span class="icon icon-plus-circle"></span>
            </div>
            <div class="browser__item-content">
              Proin Non Feugiat Lorem
            </div>
          </div>
          <div class="browser__item">
            <div class="browser__item-icon">
              <span class="icon icon-plus-circle"></span>
            </div>
            <div class="browser__item-content">
              In Auctor Ipsum
            </div>
          </div>
          <div class="browser__item">
            <div class="browser__item-icon">
              <span class="icon icon-plus-circle"></span>
            </div>
            <div class="browser__item-content">
              Sed Dui Turpis
            </div>
          </div>
          <div class="browser__item">
            <div class="browser__item-icon">
              <span class="icon icon-plus-circle"></span>
            </div>
            <div class="browser__item-content">
              Commodo Accumanson Dignissim
            </div>
          </div>
        </div>
      </div>
      <div class="browser__group is-open">
        <div class="browser__group-title">General</div>
        <div class="browser__group-items">
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Proin Non Feugiat Lorem
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            In Auctor Ipsum
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Sed Dui Turpis
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Commodo Accumanson Dignissim
          </div>
        </div>
      </div>
      <div class="browser__group">
        <div class="browser__group-title">Media</div>
        <div class="browser__group-items">
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Proin Non Feugiat Lorem
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            In Auctor Ipsum
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Sed Dui Turpis
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Commodo Accumanson Dignissim
          </div>
        </div>
      </div>
      <div class="browser__group">
        <div class="browser__group-title">Other</div>
        <div class="browser__group-items">
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Proin Non Feugiat Lorem
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            In Auctor Ipsum
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Sed Dui Turpis
          </div>
          <div class="browser__item">
            <span class="icon icon-plus-circle"></span>
            Commodo Accumanson Dignissim
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="browser__selected">
    <!-- <div class="browser__selected-message">No collections</div> -->
    <button class="button button--block button--browser-item">
      <span class="icon icon-tag"></span>
      <span class="icon icon-cross-circle"></span>
      Math
    </button>
    <button class="button button--block button--browser-item">
      <span class="icon icon-tag"></span>
      <span class="icon icon-cross-circle"></span>
      Algebra 1
    </button>
    <button class="button button--block button--browser-item">
      <span class="icon icon-tag"></span>
      <span class="icon icon-cross-circle"></span>
      Image
    </button>
    <button class="button button--block button--browser-item">
      <span class="icon icon-tag"></span>
      <span class="icon icon-cross-circle"></span>
      8th Grade
    </button>
  </div>
</div>