<div class="expandable__item">
  <div class="expandable__meta">
    <span class="float--right">
      <strong>Author:</strong> Jim Franklin
    </span>
    <strong>Sept. 18, 2016</strong> 2:35 PM EST
  </div>
  <div class="expandable__item-content">
    <h3>Changes</h3>
    <ul>
      <li>Files renamed</li>
      <li>Standards changed</li>
    </ul>
    <h3>Notes</h3>
    <p>Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue. Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper.</p>
  </div>
</div>