<footer class="footer">
  <div class="container">
    <div class="column column--full">
      <a class="footer__logo"><img src="../img/thrivist.svg" alt="Thrivist"></a>
    </div>
  </div>
</footer>
<script src="../js/core.js"></script>
</body>
</html>