<div class="group">
  <div class="category-bar background--default">
    <span class="icon icon-groups2"></span>
    <span class="category-bar__label">Group</span>
    <button class="category-bar__preview"><span class="icon icon-eye"></span></button>
  </div>
  <div class="group__content">
    <h2 class="group__title">Biology Teachers</h2>
    <p>25 members</p>
    <div class="group__buttons">
      <button class="button border--delete color--delete">Delete</button>
      <button class="button button--reverse background--default">Edit</button>
    </div>
  </div>
</div>