<div class="header__menu-content">
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-home"></span>
    </div>
    <div class="header__menu-label">Home</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon header__menu-icon--updates">3</div>
    <div class="header__menu-label">Updates</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-plus-circle"></span>
    </div>
    <div class="header__menu-label">Add Object</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-users2"></span>
    </div>
    <div class="header__menu-label">Groups</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-license2"></span>
    </div>
    <div class="header__menu-label">Standards</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-tag"></span>
    </div>
    <div class="header__menu-label">Metadata</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-thumbs-up"></span>
    </div>
    <div class="header__menu-label">Outcomes</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-database"></span>
    </div>
    <div class="header__menu-label">Shared Repositories</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-cog"></span>
    </div>
    <div class="header__menu-label">Admin Settings</div>
  </a>
</div>