<div class="outline">
  <ul class="outline__root">
    <li class="is-open has-children">
      <span class="icon icon-frame-expand color--module"></span>
      Curabitur Lobortis
      <ul class="outline__level-1">
        <li class="has-children is-zebra">
          <span class="icon icon-layers color--collection"></span>
          Id Lorem Bibendum
          <ul class="outline__level-2">
            <li>
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li>
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
        <li class="is-open has-children">
          <span class="icon icon-layers color--collection"></span>
          Ut Consectetur Magna
          <ul class="outline__level-2 is-open">
            <li class="is-active is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li>
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li class="is-zebra">
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="has-children">
      <span class="icon icon-frame-expand color--module"></span>
      Curabitur Lobortis
      <ul class="outline__level-1">
        <li class="has-children is-zebra">
          <span class="icon icon-layers color--collection"></span>
          Id Lorem Bibendum
          <ul class="outline__level-2">
            <li>
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li>
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
        <li class="has-children">
          <span class="icon icon-layers color--collection"></span>
          Ut Consectetur Magna
          <ul class="outline__level-2">
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li>
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li class="is-zebra">
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="has-children is-open is-zebra">
      <span class="icon icon-frame-expand color--module"></span>
      Curabitur Lobortis
      <ul class="outline__level-1">
        <li class="has-children">
          <span class="icon icon-layers color--collection"></span>
          Id Lorem Bibendum
          <ul class="outline__level-2">
            <li>
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li>
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
        <li class="has-children is-zebra">
          <span class="icon icon-layers color--collection"></span>
          Ut Consectetur Magna
          <ul class="outline__level-2">
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li>
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li class="is-zebra">
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="has-children is-open">
      <span class="icon icon-frame-expand color--module"></span>
      Curabitur Lobortis
      <ul class="outline__level-1">
        <li class="has-children is-zebra">
          <span class="icon icon-layers color--collection"></span>
          Id Lorem Bibendum
          <ul class="outline__level-2">
            <li>
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li>
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
        <li class="has-children">
          <span class="icon icon-layers color--collection"></span>
          Ut Consectetur Magna
          <ul class="outline__level-2">
            <li class="is-zebra">
              <span class="icon icon-book2 color--course"></span>
              Exceptuar Qui Officia
            </li>
            <li>
              <span class="icon icon-book2 color--course"></span>
              Pulvinar Lobortis Nibh
            </li>
            <li class="is-zebra">
              <span class="icon icon-file-empty color--file"></span>
              Vestibulum Erat Mi
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>