<div class="header__profile-content">
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-user"></span>
    </div>
    <div class="header__menu-label">Profile</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-cog"></span>
    </div>
    <div class="header__menu-label">Settings</div>
  </a>
  <a class="header__menu-item" href="#">
    <div class="header__menu-icon">
      <span class="icon icon-power-switch"></span>
    </div>
    <div class="header__menu-label">Logout</div>
  </a>
</div>