<div class="result">
  <div class="category-bar background--ebook">
    <span class="icon icon-book2"></span>
    <span class="category-bar__label">Ebook</span>
    <button class="category-bar__preview"><span class="icon icon-eye"></span></button>
  </div>
  <div class="result__image">
    <img src="../img/image.jpg">
  </div>
  <div class="result__content">
    <div class="result__items">
      <div class="result__item">
        <span class="result__key">Description:</span> <span class="result__value">Mauris non tempor quam lacinia</span>
      </div>
      <div class="result__item">
        <span class="result__key">Owner:</span> <span class="result__value">Quam Lacinia</span>
      </div>
      <div class="result__item">
        <span class="result__key">Standards:</span> <span class="result__value">SAT, ACT</span>
      </div>
      <div class="result__item">
        <span class="result__key">Standards:</span> <span class="result__value">SAT, ACT</span>
      </div>
      <div class="result__item">
        <span class="result__key">Outcomes:</span> <span class="result__value">I, IV, VII</span>
      </div>
      <div class="result__item">
        <span class="result__key">Updated:</span> <span class="result__value">Sept. 8, 2016</span>
      </div>
      <div class="result__item">
        <span class="result__key">Rating:</span>
        <span class="result__value">
          <span class="icon icon-star-full"></span> <span class="icon icon-star-full"></span> <span class="icon icon-star-full"></span> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span>
        </span>
      </div>
    </div>
  </div>
</div>