<div class="result result--update">
  <div class="category-bar background--course">
    <span class="icon icon-book"></span>
    <span class="category-bar__label">Course</span>
    <button class="category-bar__preview"><span class="icon icon-eye"></span></button>
  </div>
  <div class="result__content">
    <div class="result__image">
      <img src="../img/image.jpg">
    </div>
    <div class="result__update-body">
      <div class="result__meta"><strong>Updated:</strong> Sept. 18, 2016</div>
      <h2 class="result__title">Mauris Non Tempor</h2>
      <hr>
      <div class="column column--half column--first">
        <div class="result__items">
          <div class="result__item">
            <span class="result__key">My Version:</span> <span class="result__value">Sept. 8, 2016</span>
          </div>
          <div class="result__item">
            <span class="result__key">Author:</span> <span class="result__value">Quam Lacinia</span>
          </div>
        </div>
      </div>
      <div class="column column--half column--last">
        <div class="result__description">Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue.</div>
      </div>
    </div>
    <div class="result__buttons">
      <button class="button float--left">Select</button>
      <button class="button float--right is-active">Update</button>
      <button class="button float--right">Dismiss</button>
    </div>
  </div>
</div>