.browser {
  height: 300px;
  margin: 0 0 1.5em 0;
  @include cf;
  @include bp(sm) {
    height: auto;
  }
}

.browser__options {
  width: 50%;
  float: left;
  background: $darkBlue;
  border-radius: 5px 0 0 5px;
  height: 100%;
  overflow: hidden;
  padding: 1em;
  @include bp(sm) {
    float: none;
    width: auto;
    border-radius: 5px 5px 0 0;
  }
}

.browser__selected {
  width: 50%;
  float: left;
  background: $paleBlue;
  padding: 1em;
  height: 100%;
  border: 1px solid $lighterBlue;
  border-radius: 0 5px 5px 0;
  position: relative;
  overflow: auto;
  @include bp(sm) {
    float: none;
    width: auto;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }
  .browser__input {
    border: 1px solid $lighterBlue;
  }
  .browser__search {
    background: $paleBlue;
  }
  .browser__items {
    background: none;
  }
}

.browser__selected-message {
  font-weight: bold;
  color: $lightBlue;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.5em;
}

.browser__search {
  position: relative;
  &:before {
    content: '\e922';
    position: absolute;
    font-family: 'icomoon';
    color: $darkBlue;
    font-size: 15px;
    left: .5em;
    top: .5em;
    border-right: 1px solid $lighterBlue;
    padding: 0 .5em 0 0;
  }
}

.browser__input {
  width: 100%;
  border: none;
  padding: .5em .75em .5em 2.7em;
  border-radius: 5px;
  margin: 0 0 1em 0;
  @include placeholder {
    color: $lightBlue;
  }
}

.browser__items {
  background: #fff;
  border-radius: 5px;
  height: 220px;
  border-radius: 5px;
  overflow: auto;
}

.browser__group {
  margin: 0 0 1px 0;
  &.is-open {
    .browser__group-items {
      display: block;
    }
    .browser__group-title:before {
      transform: rotate(90deg);
      margin-left: -.3em;
    }
  }
}

.browser__group-title {
  background: $paleBlue;
  padding: .5em 1em;
  font-weight: bold;
  cursor: pointer;
  &:before {
    content: '\e93c';
    font-family: 'icomoon';
    color: $lightBlue;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .75em 0 0;
    transition: transform .15s;
  }
}

.browser__group-items {
  padding: .5em 0;
  display: none;
  .browser__item {
    padding-left: 1em;
    font-size: .9em;
    &:nth-child(even) {
      background: none;
    }
  }
}

.browser__item {
  padding: .4em 1em .3em .5em;
  cursor: pointer;
  @include cf;
  &:nth-child(even) {
    background: $paleBlue;
  }
  .icon {
    color: $green;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px .2em 0 0;
    position: relative;
  }
}

.browser__item-icon {
  float: left;
  margin: .1em .25em 0 0;
  vertical-align: text-top;
}

.browser__item-content {
  padding-left: 20px;
}

.browser__item-title {
  font-weight: bold;
}

.browser__item-subtitle {

}