.button {
  display: inline-block;
  border-radius: 5px;
  padding: .6em .7em .55em .7em;
  cursor: pointer;
  transition: border-color .15s;
  border-width: 1px;
  border-style: solid;
  background: none;
  color: $darkBlue;
  border-color: $lighterBlue;
  text-decoration: none;
  &:hover {
    border-color: darken($lighterBlue, 15%);
  }
  &.is-active {
    background: $blue;
    border-color: $blue;
    color: #fff;
    .icon {
      color: #fff;
    }
    .button__meta {
      color: #fff;
    }
  }
}

.button__icon {
  float: left;
  width: 30px;
  .icon {
    color: $lightBlue;
  }
}

.button__content {
  // float: left;
}

.button .icon {
  margin: 0 .5em 0 0;
  display: inline-block;
  // width: 20px;
  // height: 20px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

.button__meta {
  color: $lightBlue;
}

.button__state {
  float: right;
  border: 1px solid $lighterBlue;
  font-size: .8em;
  border-radius: 5px;
  padding: .25em 1em;
  margin: 0 .75em 0 0;
  color: $lightBlue;
  @include bp(md) {
    clear: right;
    margin: .5em 0 0 .5em;
  }
  &--enabled {
    font-weight: bold;
    background: $green;
    color: #fff;
    border-color: $green;
  }
}

.button--block {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0 0 .75em 0;
}

.button--reverse {
  border-color: transparent !important;
  color: #fff;
  font-weight: bold;
}

.button--tag {
  background: $paleBlue;
  margin-right: 1em;
  .icon {
    color: $lightBlue;
    margin: 0 .25em 0 0;
  }
}

.button--option {
  background: $paleBlue;
  .icon-cross-circle {
    color: $red;
    margin: 0;
  }
}

.button--file {
  background: #fff;
  .icon {
    color: $lightBlue;
  }
  .icon-cross-circle {
    color: $red;
    margin: 0;
  }
}

.button--browser-item {
  background: #fff;
  .icon {
    color: $lightBlue;
  }
  .icon-cross-circle {
    color: $red;
    margin: 0;
    float: right;
  }
  .button__title {
    font-weight: bold;
  }
  .button__content {
    padding-left: 30px;
  }
}