.category-bar {
  height: 30px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  color: #fff;
  font-size: .9em;
  text-transform: uppercase;
  .icon {
    color: #fff;
    font-size: 20px;
    margin: .25em .25em 0 .4em;
    float: left;
  }
}

.category-bar--detail {
  @include bp(md) {
    border-radius: 0;
  }
}

.category-bar__label {
  display: inline-block;
  top: .4em;
  position: relative;
}

.category-bar__preview {
  float: right;
  background: none;
  border: none;
  background: rgba(0,0,0,.2);
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  transition: background .15s;
  &:hover {
    background: rgba(0,0,0,.5);
  }
  .icon {
    margin: 0;
    float: none;
    line-height: 30px;
  }
}