.dashboard {

}

.dashboard__item {
  display: inline-block;
  width: 23.27%;
  margin: 0 2% 2em 0;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s;
  border-radius: 0 0 5px 5px;
  &:nth-child(4n + 4) {
    margin-right: 0;
    @include bp(md) {
      margin-right: 2%;
    }
  }
  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
  }
}

.dashboard__header {
  color: #fff;
  font-weight: bold;
  padding: .25em 0;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.dashboard__header-meta {
  font-weight: normal;
}

.dashboard__content {
  padding: 1.5em 0;
  border: 1px solid $lighterBlue;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #fff;
  transition: border .15s;
  .icon {
    font-size: 80px;
  }
}