.detail {
}

.detail__header {
  border-radius: 5px 5px 0 0;
}

.detail__content {
  background: #fff;
  border: 1px solid $lighterBlue;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 1.5em .5em;
  @include cf;
  &--no-bar {
    border-top: 1px solid $lighterBlue;
    padding: 1.5em;
    border-radius: 5px;
    @include bp(md) {
      border-style: solid none;
      border-radius: 0;
    }
  }
}

.detail__title {
  font-size: 2.5em;
  margin: 0 0 .5em 0;
  &--edit {
    font-weight: bold;
    font-size: 1.75em;
  }
  .detail__input {
    padding: .25em .5em;
  }
}

.detail__description {

}

.detail__textarea {
  width: 100%;
  padding: .75em 1em;
  border-radius: 5px;
  border: 1px solid $lighterBlue;
  height: 300px;
  max-width: 100%;
  overflow: auto;
  margin: 0 0 1.5em 0;
  @include placeholder {
    color: $lightBlue;
  }
}

.detail__subtitle {
  margin: 0 0 .5em 0;
  font-size: 1.2em;
}

.detail__metas {
  margin: 0 0 1em 0;
}

.detail__meta {
  margin: 0 1em 0 0;
  @include bp(sm) {
    display: block;
  }
}

.detail__details {
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  padding: 1em;
  margin: 0 0 1.5em 0;
  @include cf;
}

.detail__detail {
  @include cf;
  .dropdown {
    @include bp(sm) {
      margin: 0 0 1em 0;
    }
  }
}

.detail__detail-item {
  margin: 0 0 .5em 0;
  @include cf;
}

.detail__detail-key {
  float: left;
  width: 30%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em 0 0;
  @include bp(sm) {
    float: none;
    width: auto;
  }
}

.detail__detail-value {
  width: 70%;
  float: left;
  @include bp(sm) {
    float: none;
    width: auto;
  }
}

.detail__detail-title {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0 0 .5em 0;
}

.detail__collections {
  margin: 0 0 1.5em 0;
}

.detail__image {
  border-radius: 5px;
  overflow: hidden;
  font-size: 0;
  margin: 0 0 20px 0;
}

.detail__buttons {
  margin: 0 0 1.5em 0;
}

.detail__input {
  padding: .5em 1em;
  border-radius: 5px;
  border: 1px solid $lighterBlue;
  width: 100%;
  text-overflow: ellipsis;
  @include placeholder {
    color: $lightBlue;
  }
}

.detail__option {
  @extend .button;
  background: $paleBlue;
  width: 69%;
  .icon-delete {
    float: right;
  }
}

.detail__files {
  background: $paleBlue;
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  padding: 1em;
  margin: 0 0 1.5em 0;
}

.detail__files-title {
  font-size: 1.2em;
  margin: 0 0 .5em 0;
}