.dropdown {
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  padding: .5em 1em;
  cursor: pointer;
  position: relative;
  &:hover {
    border-radius: 5px 5px 0 0;
    .dropdown__content {
      display: block;
    }
  }
  &:before {
    content: '\e93a';
    font-family: 'icomoon';
    font-size: 10px;
    float: right;
    margin: .5em 0 0 0;
  }
  .icon {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .5em 0 0;
    color: $lightBlue;
  }
}

.dropdown__content {
  display: none;
  animation: fadeInDown .15s;
  position: absolute;
  left: -1px;
  top: 100%;
  right: -1px;
  background: #fff;
  border: 1px solid $lighterBlue;
  border-top: none;
  border-radius: 0 0 5px 5px;
  z-index: 9;
  background: $paleBlue;
}

.dropdown__item {
  padding: .5em 1em;
  border-top: 1px solid $lighterBlue;
  transition: border-color .15s;
  &:hover {
    border-color: $lightBlue;
  }
}