.expandable {
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 1.5em 0;
}

.expandable__header {
  background: $paleBlue;
  padding: .25em 1em;
  cursor: pointer;
  @include cf;
}

.expandable__title {
  font-size: .9em;
  text-transform: uppercase;
  margin: 0;
  float: left;
}

.expandable__icon {
  border: none;
  float: right;
  background: none;
  color: $lightBlue;
  padding: 0;
  margin: 0;
  transition: transform .15s;
  transform-origin: center center;
}

.expandable__content {
  max-height: 0;
  overflow: auto;
  transition: max-height .25s;
}

.expandable__meta {
  font-size: .8em;
  border-bottom: 1px solid $lighterBlue;
  padding: .75em 0;
  margin: 0 1.5em 0 1em;
}

.expandable__item {
  &:nth-child(even) {
    background: $paleBlue;
  }
}

.expandable__item-content {
  padding: 1em 1.5em 1em 1em;
  font-size: .9em;
}

.expandable.is-active {
  .expandable__content {
    max-height: 500px;
  }
  .expandable__icon {
    transform: rotate(-90deg);
  }
}