.group {
  display: inline-block;
  margin-bottom: 2em;
  width: 31%;
  @include bp(sm) {
    width: 47%;
  }
}

.group__content {
  padding: 1em;
}

.group__title {
  margin: 0;
}

.group__content {
  border: 1px solid $lighterBlue;
  border-top: none;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background: #fff;
}

.group__buttons {
  .button {
    @include bp(sm) {
      margin: .5em 0 0 0;
      width: 100%;
    }
  }
}