.header {
  position: fixed;
  background: $blue;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  z-index: 9;
}

.header__menu {
  width: 200px;
  max-height: 70px;
  border: none;
  background: #fff;
  display: block;
  padding: 0 1em;
  float: left;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: max-height .25s;
  @include bp(sm) {
    width: 30%;
  }
  & > .icon {
    position: absolute;
    right: 1em;
    top: 1.2em;
    color: $blue;
    font-size: 20px;
    z-index: 99;
    @include bp(sm) {
      display: none;
    }
  }
  img {
    float: left;
    width: 80px;
    height: 70px;
    position: relative;
    z-index: 99;
  }
}

.header__menu-content {
  display: none;
  animation: fadeInDown .25s;
  margin: 0 -1em 0 -1em;
  background: #fff;
  text-align: left;
  padding: 0 1em 0 1em;
  position: relative;
  z-index: 9;
  &.is-visible {
    display: block;
  }
  &.is-removing {
    display: block;
    animation: fadeOutUp .25s;
  }
}

.header__menu.is-active {
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  max-height: 600px;
  & > .icon:before {
    content: '\e92a';
  }
}

.header__menu-item {
  display: block;
  clear: both;
  border-top: 1px solid $paleBlue;
  padding: .7em 0 .6em 0;
  text-decoration: none;
  color: $darkBlue;
  transition: border-color .15s;
  @include cf;
  &:hover {
    border-color: $lighterBlue;
  }
}

.header__menu-icon {
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0 .5em 0 0;
  .icon {
    float: none;
    color: $lightBlue;
    font-size: 20px;
  }
}

.header__menu-icon--updates {
  background: $blue;
  border-radius: 100%;
  color: #fff;
  font-weight: bold;
  font-size: .8em;
  line-height: 20px;
}

.header__breadcrumbs {
  margin: 0 230px 0 230px;
  padding: 1.75em 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  @include bp(sm) {
    display: none;
  }
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    &:after {
      content: "\e93c";
      font-family: 'icomoon';
      opacity: .7;
      display: inline-block;
      padding: 0 .4em 0 1em;
      font-size: 10px;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.header__breadcrumb {
  color: #fff;
  text-decoration: none;
  transition: opacity .15s;
  &:hover {
    opacity: .5;
  }
}

.header__profile {
  float: right;
  width: 230px;
  max-height: 70px;
  background: none;
  border: none;
  background: lighten($blue, 15%);
  padding: 0 1em;
  color: #fff;
  text-align: left;
  outline: none;
  transition: max-height .25s;
  cursor: pointer;
  @include bp(sm) {
    width: 70%;
  }
  & > .icon {
    position: absolute;
    right: 2em;
    color: #fff;
    font-size: 10px;
    margin: 3.1em 0 0 0;
  }
  &.is-active {
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    max-height: 600px;
    & > .icon:before {
      content: '\e92a';
    }
  }
}

.header__profile-image {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  float: left;
  margin: .7em .5em 0 0;
  position: relative;
  z-index: 99;
}

.header__profile-label {
  padding: 1.75em 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 1em 0 0;
  text-overflow: ellipsis;
  position: relative;
  z-index: 99;
  height: 70px;
  @include bp(sm) {
  }
}

.header__profile-content {
  display: none;
  animation: fadeInDown .25s;
  margin: 0 -1em 0 -1em;
  background: #fff;
  text-align: left;
  padding: 0 1em 0 1em;
  position: relative;
  z-index: 9;
  background: lighten($blue, 15%);
  &.is-visible {
    display: block;
  }
  &.is-removing {
    display: block;
    animation: fadeOutUp .25s;
  }
  .header__menu-item {
    border-color: rgba(255,255,255,.3);
    color: #fff;
    &:hover {
      border-color: #fff;
    }
  }
  .header__menu-icon .icon {
    color: #fff;
  }
}