.modal {
  z-index: 99;
  background: #fff;
  position: absolute;
  width: 800px;
  left: 0;
  right: 0;
  top: 2em;
  margin: auto;
  margin-bottom: 2em;
  border-radius: 5px;
  overflow: hidden;
  animation: scaleIn .25s;
  box-shadow: 0 0 20px $lighterBlue;
  @include bp(md) {
    width: 90%;
  }
}

.overlay {
  position: fixed;
  opacity: 0.9;
  background: $paleBlue;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal__bar {
  background: $blue;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: .5em 0;
}

.modal__content {
  padding: 1em;
  @include cf;
}

.modal__buttons {
  margin: 0 1em;
  padding: 1em 0;
  border-top: 1px solid $lighterBlue;
  clear: both;
  @include cf;
}

.modal__list {
  height: 200px;
  overflow: auto;
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: .5em;
    font-size: .9em;
    &:nth-child(even) {
      background: $paleBlue;
    }
  }
}

.modal__item {
  margin: 0 0 1em 0;
  @include cf;
}

.modal__key {
  font-weight: bold;
  float: left;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1em;
  @include bp(sm) {
    float: none;
    width: auto;
  }
}

.modal__value {
  width: 70%;
  float: left;
  @include bp(sm) {
    float: none;
    width: auto;
  }
}

.modal__input {
  @extend .detail__input;
}