.outline {
  border: 1px solid $lighterBlue;
  border-radius: 5px;
  max-height: 350px;
  overflow: auto;
  margin: 0 0 1.5em 0;
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.outline li {
  cursor: pointer;
  padding: .3em 0 0 0;
  background: #fff;
  .icon {
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 .2em .25em 0;
  }
}

ul.outline__root {
  font-weight: bold;
  &:nth-child(even) {
    background: $paleBlue;
  }
  li:before {
    margin-left: .5em;
  }
}

ul.outline__level-1 {
  font-weight: $medium;
  font-size: .9em;
  li:before {
    margin-left: 2em;
  }
}

ul.outline__level-2 {
  font-weight: normal;
  .icon {
    margin-left: 3em;
  }
}

li.has-children {
  &:before {
    content: '\e93c';
    font-family: 'icomoon';
    display: inline-block;
    vertical-align: middle;
    margin: 0 .25em 0 0;
    transition: transform .15s;
    transform-origin: center center;
  }
  ul {
    display: none;
  }
}

li.is-open {
  &:before {
    // content: '\e93a'
    transform: rotate(90deg);
  }
  > ul {
    display: block;
  }
}

li.is-zebra {
  background: $paleBlue;
}

li.is-active {
  background: $blue;
  color: #fff;
  .icon {
    color: #fff;
  }
}