.pagination {
  float: right;
  padding: 1.25em 0 1em 0;
  font-size: .9em;
  clear: both;
  width: 100%;
  @include cf;
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul {
    float: right;
  }
  li {
    display: inline-block;
  }
}

.pagination__page {
  text-decoration: none;
  color: $darkBlue;
  border: 1px solid $lighterBlue;
  padding: .5em .75em;
  line-height: 1;
  border-radius: 5px;
  background: #fff;
  transition: border-color .15s;
  &:hover {
    border-color: $lightBlue;
  }
}

.pagination__page--is-active {
  background: $blue;
  border-color: $blue;
  color: #fff;
  &:hover {
    border-color: $blue;
  }
}


.pagination--dark {
  .pagination__page-gap {
    color: rgba(255,255,255,.5);
  }
  .pagination__page {
    background: none;
    color: #fff;
    border: 1px solid rgba(255,255,255,.2);
    &:hover {
      border-color: #fff;
    }
  }
  .pagination__page--is-active {
    background: $blue;
    border-color: $blue;
    &:hover {
      border-color: $blue;
    }
  }
}