.result {
  display: inline-block;
  width: 31%;
  margin-bottom: 2em;
  cursor: pointer;
  @include cf;
  @include bp(md) {
    width: 47%;
  }
}

.result__image {
  font-size: 0;
}

.result__content {
  padding: 1em;
  border: 1px solid $lighterBlue;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background: #fff;
  @include cf;
}

.result__item {
  font-size: .9em;
  margin: 0 0 .5em 0;
  @include cf;
}

.result__key {
  font-weight: bold;
  width: 45%;
  text-align: right;
  float: left;
  display: block;
  padding: 0 .75em 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  @include bp(sm) {
    float: none;
    width: auto;
    text-align: left;
  }
}

.result__value {
  display: block;
  float: left;
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include bp(sm) {
    float: none;
    width: auto;
    text-align: left;
  }
}

.result--update {
  width: auto;
  display: block;
  margin: 0 0 1.5em 0;
  .result__image {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    @include bp(md) {
      width: 100px;
      height: 100px;
    }
    img {
      max-width: none;
      height: 150px;
      @include bp(md) {
        height: 100px;
      }
    }
  }
  .result__key {
    width: auto;
  }
  .result__value {
    width: auto;
  }
  .result__description {
    font-size: .9em;
    padding: 0 0 1.5em 0;
  }
}

.result__update-body {
  float: left;
  width: calc(100% - 190px);
  @include bp(md) {
    width: calc(100% - 120px);
  }
}

.result__buttons {
  // clear: both;
  clear: right;
  .float--right {
    margin-left: 1em;
  }
}

.result__meta {
  float: right;
  font-size: .9em;
  margin: .5em 0 0 0;
}

.result__title {
  margin: 0;
}