.search {
  background: $darkBlue;
  border-radius: 5px;
  padding: 1em 1em 0 1em;
  margin: 0 0 2em 0;
  @include cf;
  .pagination {
    width: auto;
    clear: none;
  }
}

.search__search {
  // width: 70%;
  // float: left;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 1.15em 0;
  position: relative;
  @include cf;
  &:before {
    content: '\e922';
    position: absolute;
    font-family: 'icomoon';
    color: $darkBlue;
    font-size: 15px;
    left: .5em;
    top: .5em;
    border-right: 1px solid $lighterBlue;
    padding: 0 .5em 0 0;
    @include bp(sm) {
      display: none;
    }
  }
}

.search__button {
  border: none;
  background: $blue;
  color: #fff;
  width: 15%;
  font-weight: bold;
  line-height: 40px;
  padding: 0;
  height: 40px;
  @include bp(sm) {
    width: 25%;
  }
}

.search__input {
  width: 85%;
  border: none;
  float: left;
  padding: .5em 1em .5em 2.8em;
  height: 40px;
  text-overflow: ellipsis;
  @include placeholder {
    color: $lightBlue;
  }
  @include bp(sm) {
    padding-left: 1em;
    width: 75%;
  }
}

.search__options {
  float: right;
  // width: 25%;
  padding: .5em 0 0 2em;
  @include bp(sm) {
    float: none;
    padding: 0 0 1em 0;
  }
}

.search__checkbox {
  border: none;
  display: inline-block;
  margin-right: .2em;
}

.search__label {
  display: inline-block;
  color: #fff;
  font-size: .9em;
}

.search__footer {
  border-top: 1px solid rgba(255,255,255,.2);
  clear: both;
  padding: 0 0 .5em 0;
  @include cf;
}

.search__page-information {
  float: left;
  color: #fff;
  font-size: .9em;
  padding: 1.25em 0 0 0;
  p {
    margin: 0;
  }
  @include bp(sm) {
    float: none;
    text-align: center;
  }
}