.background,
.is-active.background__active {
  &--course {
    background: $green;
  }
  &--module {
    background: $pink;
  }
  &--collection {
    background: $orange;
  }
  &--assignment {
    background: $purple;
  }
  &--file {
    background: $red;
  }
  &--standard {
    background: $blue;
  }
  &--outcome {
    background: $darkBlue;
  }
  &--ebook {
    background: $darkPurple;
  }
  &--default {
    background: $blue;
  }
  &--dark {
    background: $darkBlue;
  }
}

.color {
  &--course {
    color: $green;
  }
  &--module {
    color: $pink;
  }
  &--collection {
    color: $orange;
  }
  &--assignment {
    color: $purple;
  }
  &--file {
    color: $red;
  }
  &--standard {
    color: $blue;
  }
  &--outcome {
    color: $darkBlue;
  }
  &--ebook {
    color: $darkPurple
  }
  &--default {
    color: $blue;
  }
  &--delete {
    color: $red;
  }
}

.border,
.is-active.border__active {
  &--course {
    border-color: $green;
    &:hover {
      border-color: darken($green, 15%);
    }
  }
  &--module {
    border-color: $pink;
    &:hover {
      border-color: darken($pink, 15%);
    }
  }
  &--collection {
    border-color: $orange;
    &:hover {
      border-color: darken($orange, 15%);
    }
  }
  &--assignment {
    border-color: $purple;
    &:hover {
      border-color: darken($purple, 15%);
    }
  }
  &--file {
    border-color: $red;
    &:hover {
      border-color: darken($red, 15%);
    }
  }
  &--standard {
    border-color: $blue;
    &:hover {
      border-color: darken($blue, 15%);
    }
  }
  &--outcome {
    border-color: $darkBlue;
    &:hover {
      border-color: darken($darkBlue, 15%);
    }
  }
  &--ebook {
    border-color: $darkPurple;
    &:hover {
      border-color: darken($darkPurple, 15%);
    }
  }
  &--default {
    border-color: $blue;
    &:hover {
      border-color: darken($blue, 15%);
    }
  }
  &--delete {
    border-color: $red;
    &:hover {
      border-color: darken($red, 15%);
    }
  }
}