html {
  box-sizing: border-box;
  background: $paleBlue;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  color: $darkBlue;
  font-size: .875em;
}

body {
  padding: 100px 0 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $blue;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 1em 0;
}

hr {
  border: none;
  border-top: 1px solid $lighterBlue;
  margin: 1em 0;
}

.icon-star-full {
  color: $yellow;
  font-size: 15px;
}

.icon-star-full--empty {
  color: $lighterBlue;
}