@mixin bp($point) {
  @if $point == lg {
    @media (min-width: 100em) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 70em) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 43em) {
      @content;
    }
  }
}

@mixin cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.text--center {
  text-align: center;
}

.text--justify {
  text-align: justify;
  &:after {
    content: '';
    width: 100%;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

.display--table {
  display: table;
}

.hide-desktop {
  display: none !important;
  @include bp(sm) {
    display: block !important;
  }
}

.hide-mobile {
  @include bp(sm) {
    display: none !important;
  }
}

.hide-screen {
  @media screen {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.float {
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}