$blue: #3598dc;
$paleBlue: #eff1f5;
$lightBlue: #6485A6;
$lighterBlue: #D6D9DF;
$darkBlue: #34495e;

$red: #ea5d4b;
$green: #4cd797;
$orange: #f7941d;
$pink: #f35893;
$purple: #a27fde;
$yellow: #F5D723;
$darkPurple: #842199;

// Font
$medium: 500;