<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <h1 class="detail__title">Biology Teachers</h1>
    </div>
    <div class="column column--one-third">
      <div class="sidebar">
        <button class="button button--block border--default">
          <span class="icon icon-enter-right"></span>
          <span class="color--default">
            Import Participants
          <!--  -->
        </button>
        <button class="button button--block border--default">
          <span class="icon icon-exit-right"></span>
          <span class="color--default">
            Export Participants
          </span>
        </button>
      </div>
    </div>
    <div class="column column--two-thirds">
      <div class="detail__content detail__content--no-bar">
        <div class="browser">
          <div class="browser__options">
            <div class="browser__search">
              <input type="text" class="browser__input" name="q" placeholder="Filter Participants">
            </div>
            <div class="browser__items">
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  <div class="browser__item-title">Tammy Whittle</div>
                  <div class="browser__item-subtitle">twhittle@masters.edu</div>
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  <div class="browser__item-title">Tammy Whittle</div>
                  <div class="browser__item-subtitle">twhittle@masters.edu</div>
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  <div class="browser__item-title">Tammy Whittle</div>
                  <div class="browser__item-subtitle">twhittle@masters.edu</div>
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  <div class="browser__item-title">Tammy Whittle</div>
                  <div class="browser__item-subtitle">twhittle@masters.edu</div>
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  <div class="browser__item-title">Tammy Whittle</div>
                  <div class="browser__item-subtitle">twhittle@masters.edu</div>
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  <div class="browser__item-title">Tammy Whittle</div>
                  <div class="browser__item-subtitle">twhittle@masters.edu</div>
                </div>
              </div>
            </div>
          </div>
          <div class="browser__selected">
            <button class="button button--block button--browser-item">
              <span class="icon icon-cross-circle"></span>
              <div class="button__icon">
                <span class="icon icon-user"></span>
              </div>
              <div class="button__content">
                <div class="button__title">John Smith</div>
                <div class="button__subtitle">jsmith@wilkerson.edu</div>
              </div>
            </button>
            <button class="button button--block button--browser-item">
              <span class="icon icon-cross-circle"></span>
              <div class="button__icon">
                <span class="icon icon-user"></span>
              </div>
              <div class="button__content">
                <div class="button__title">Janice Hill</div>
                <div class="button__subtitle">jhill@wilkerson.edu</div>
              </div>
            </button>
          </div>
        </div>
        <div class="detail__buttons">
          <button class="button border--default color--default float--left">Cancel</button>
          <button class="button background--default button--reverse float--right">Save</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->