
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <div class="search">
        <div class="search__options">
          <label class="search__label" for="external-resources">
            <input type="checkbox" class="search__checkbox" name="external-resources" id="external-resources">
            <span class="search__label-text">Include External Resources</span>
          </label>
        </div>
        <div class="search__search">
          <input type="text" class="search__input" name="q" placeholder="Search by Keyword, Author, Title, Standard, Metadata or Outcomes…">
          <button class="search__button">Search</button>
        </div>
      </div>
      <div class="dashboard text--center">
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--course">Courses <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-book2 color--course"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--module">Modules <span class="dashboard__header-meta">(87)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-frame-expand color--module"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--collection">Collections <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-layers color--collection"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--assignment">Assignments <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-chart-growth color--assignment"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--file">Files <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-file-empty color--file"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--standard">Standards <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-license2 color--standard"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--outcome">Outcomes <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-magic-wand color--outcome"></span>
          </div>
        </a>
        <a class="dashboard__item" href="#">
          <div class="dashboard__header dashboard__header background--ebook">Ebooks <span class="dashboard__header-meta">(13)</span></div>
          <div class="dashboard__content">
            <span class="icon icon-book color--ebook"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->