
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="detail">
      <div class="detail__content detail__content--no-bar">
        <div class="column column--two-thirds">
          <div class="detail__title detail__title--edit">
            <input class="detail__input" placeholder="Title">
          </div>
          <div class="detail__metas detail__metas--edit">
            <span class="detail__meta">
              <strong>Rating:</strong> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span>
            </span>
          </div>
          <div class="detail__description">
            <textarea class="detail__textarea" placeholder="Description"></textarea>
          </div>
          <div class="detail__collections">
            <h2 class="detail__subtitle">Collections</h2>
            <!--#include virtual="/inc/browser.html" -->
          </div>
          <div class="detail__details">
            <div class="detail__detail">
              <div class="column column--half column--first">
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Owner:</div>
                  <div class="detail__detail-value">
                    <input class="detail__input" placeholder="Owner">
                  </div>
                </div>
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Standards:</div>
                  <div class="detail__detail-value">
                    <div class="dropdown">
                      <div class="dropdown__item--selected">
                        Add Standard
                      </div>
                      <div class="dropdown__content">
                        <div class="dropdown__item">
                          Common Core 1.2
                        </div>
                        <div class="dropdown__item">
                          Common Core 1.5
                        </div>
                        <div class="dropdown__item">
                          Common Core 2.5
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column column--half column--last">
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Outcomes:</div>
                  <div class="detail__detail-value">
                    <div class="dropdown">
                      <div class="dropdown__item--selected">
                        Add Outcome
                      </div>
                      <div class="dropdown__content">
                        <div class="dropdown__item">
                          5.8.9
                        </div>
                        <div class="dropdown__item">
                          2.5.7
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="detail__detail-item">
                  <div class="detail__detail-key">License:</div>
                  <div class="detail__detail-value">
                    <div class="dropdown">
                      <div class="dropdown__item--selected">
                        Set License
                      </div>
                      <div class="dropdown__content">
                        <div class="dropdown__item">
                          Creative Commons
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="detail__detail">
              <div class="column column--half column--first">
                <h3 class="detail__detail-title">Part Of</h3>
                <div class="dropdown">
                  <div class="dropdown__item--selected">
                    <span class="icon icon-layers"></span>
                    Add Collection
                  </div>
                  <div class="dropdown__content">
                    <div class="dropdown__item">
                      Collection 1
                    </div>
                    <div class="dropdown__item">
                      Collection 2
                    </div>
                  </div>
                </div>
              </div>
              <div class="column column--half column--last">
                <h3 class="detail__detail-title">Shared With</h3>
                <div class="dropdown">
                  <div class="dropdown__item--selected">
                    <span class="icon icon-user"></span>
                    Add User(s)
                  </div>
                  <div class="dropdown__content">
                    <div class="dropdown__item">
                      User 1
                    </div>
                    <div class="dropdown__item">
                      User 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column column--one-third">
          <div class="detail__image">
            <img src="../img/image.jpg">
          </div>
          <div class="detail__files">
            <h2 class="detail__files-title">Files</h2>
            <button class="button button--block background--dark button--reverse">
              <span class="icon icon-file-add"></span>
              Add File
            </button>
          </div>
          <div class="detail__buttons">
            <button class="button button--block button--reverse background--default">
              Save Object
            </button>
            <button class="button button--block border-default">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->