
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="detail">
      <div class="category-bar category-bar--detail background--ebook">
        <span class="icon icon-book2"></span>
        <span class="category-bar__label">Ebook</span>
      </div>
      <div class="detail__content">
        <div class="column column--two-thirds">
          <div class="detail__title detail__title--edit">
            <input class="detail__input" value="Exceptuar Qui Officia">
          </div>
          <div class="detail__metas detail__metas--edit">
            <span class="detail__meta">
              <strong>Updated:</strong> Sept. 8, 2016
            </span>
            <span class="detail__meta">
              <strong>Rating:</strong> <span class="icon icon-star-full"></span> <span class="icon icon-star-full"></span> <span class="icon icon-star-full"></span> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span>
            </span>
          </div>
          <div class="detail__description">
            <textarea class="detail__textarea">
Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue. Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper.

Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue. Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper.

Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper. Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue.
            </textarea>
          </div>
          <div class="detail__collections">
            <h2 class="detail__subtitle">Edit Collections</h2>
            <!--#include virtual="/inc/browser.html" -->
          </div>
          <div class="detail__details">
            <div class="detail__detail">
              <div class="column column--half column--first">
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Owner:</div>
                  <div class="detail__detail-value">
                    <input class="detail__input" value="Quam Lacinia">
                  </div>
                </div>
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Standards:</div>
                  <div class="detail__detail-value">
                    <button class="button button--block button--option">
                      <span class="icon icon-cross-circle float--right"></span>
                      Common Core 4.3.1
                    </button>
                    <div class="dropdown">
                      <div class="dropdown__item--selected">
                        Add Standard
                      </div>
                      <div class="dropdown__content">
                        <div class="dropdown__item">
                          Common Core 1.2
                        </div>
                        <div class="dropdown__item">
                          Common Core 1.5
                        </div>
                        <div class="dropdown__item">
                          Common Core 2.5
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column column--half column--last">
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Outcomes:</div>
                  <div class="detail__detail-value">
                    <button class="button button--block button--option">
                      <span class="icon icon-cross-circle float--right"></span>
                      4.3.1
                    </button>
                    <button class="button button--block button--option">
                      <span class="icon icon-cross-circle float--right"></span>
                      3.5.2
                    </button>
                    <div class="dropdown">
                      <div class="dropdown__item--selected">
                        Add Outcome
                      </div>
                      <div class="dropdown__content">
                        <div class="dropdown__item">
                          5.8.9
                        </div>
                        <div class="dropdown__item">
                          2.5.7
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="detail__detail-item">
                  <div class="detail__detail-key">License:</div>
                  <div class="detail__detail-value">
                    <div class="dropdown">
                      <div class="dropdown__item--selected">
                        All Rights Reserved
                      </div>
                      <div class="dropdown__content">
                        <div class="dropdown__item">
                          Creative Commons
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="detail__detail">
              <div class="column column--half column--first">
                <h3 class="detail__detail-title">Part Of</h3>
                <a class="button button--block border--collection" href="#">
                  <span class="icon icon-layers color--collection"></span>
                  Math 101 Collection
                </a>
                <a class="button button--block border--collection" href="#">
                  <span class="icon icon-layers color--collection"></span>
                  Algebra Objects
                </a>
                <a class="button button--block border--collection" href="#">
                  <span class="icon icon-layers color--collection"></span>
                  Kinesthetic Objects
                </a>
                <div class="dropdown">
                  <div class="dropdown__item--selected">
                    <span class="icon icon-layers"></span>
                    Add Collection
                  </div>
                  <div class="dropdown__content">
                    <div class="dropdown__item">
                      Collection 1
                    </div>
                    <div class="dropdown__item">
                      Collection 2
                    </div>
                  </div>
                </div>
              </div>
              <div class="column column--half column--last">
                <h3 class="detail__detail-title">Shared With</h3>
                <a class="button button--block border--default" href="#">
                  <span class="icon icon-users2 color--default"></span>
                  Math Teachers
                </a>
                <a class="button button--block border--default" href="#">
                  <span class="icon icon-user color--default"></span>
                  Mrs. Johnson
                </a>
                <div class="dropdown">
                  <div class="dropdown__item--selected">
                    <span class="icon icon-user"></span>
                    Add User(s)
                  </div>
                  <div class="dropdown__content">
                    <div class="dropdown__item">
                      User 1
                    </div>
                    <div class="dropdown__item">
                      User 2
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column column--one-third">
          <div class="detail__image">
            <img src="../img/image.jpg">
          </div>
          <div class="detail__files">
            <h2 class="detail__files-title">Edit Files</h2>
            <button class="button button--block button--file">
              <span class="icon icon-file-empty float--left"></span>
              <span class="icon icon-cross-circle float--right"></span>
              quam-lacinia.jpg
            </button>
            <button class="button button--block button--file">
              <span class="icon icon-file-empty float--left"></span>
              <span class="icon icon-cross-circle float--right"></span>
              elit-semper-v3.xls
            </button>
            <button class="button button--block background--dark button--reverse">
              <span class="icon icon-file-add"></span>
              Add File
            </button>
          </div>
          <!--#include virtual="/inc/outline.html" -->
          <div class="detail__buttons">
            <button class="button button--block button--reverse background--default">
              Save Object
            </button>
            <button class="button button--block border-default">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->