
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="detail">
      <div class="category-bar category-bar--detail background--ebook">
        <span class="icon icon-book2"></span>
        <span class="category-bar__label">Ebook</span>
      </div>
      <div class="detail__content">
        <div class="column column--two-thirds">
          <h1 class="detail__title">Exceptuar Qui Officia</h1>
          <div class="detail__metas">
            <span class="detail__meta">
              <strong>Updated:</strong> Sept. 8, 2016
            </span>
            <span class="detail__meta">
              <strong>Rating:</strong> <span class="icon icon-star-full"></span> <span class="icon icon-star-full"></span> <span class="icon icon-star-full"></span> <span class="icon icon-star-full icon-star-full--empty"></span> <span class="icon icon-star-full icon-star-full--empty"></span>
            </span>
          </div>
          <div class="detail__description">
            <p>Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue. Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper.</p>
            <p>Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue. Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper.</p>
            <p>Fusce iaculis consectetur tempus. Mauris sagittis, sem et suscipit porta, urna magna pretium enim, vitae egestas sapien diam feugiat tellus. Mauris dapibus lorem at augue egestas, quis auctor elit semper. Curabitur a rutrum leo. Proin non feugiat lorem, in auctor ipsum. Sed dui turpis, commodo accumsan dignissim sed, semper sit amet orci. Integer id bibendum augue.</p>
          </div>
          <div class="detail__collections">
            <h2 class="detail__subtitle">Collections</h2>
            <hr>
            <a class="button button--tag" href="#">
              <span class="icon icon-tag"></span>
              <span class="tag__label">Math</span>
            </a>
            <a class="button button--tag" href="#">
              <span class="icon icon-tag"></span>
              <span class="tag__label">Algebra 1</span>
            </a>
            <a class="button button--tag" href="#">
              <span class="icon icon-tag"></span>
              <span class="tag__label">Image</span>
            </a>
            <a class="button button--tag" href="#">
              <span class="icon icon-tag"></span>
              <span class="tag__label">8th Grade</span>
            </a>
          </div>
          <div class="detail__details">
            <div class="detail__detail">
              <div class="column column--half column--first">
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Owner:</div>
                  <div class="detail__detail-value">Quam Lacinia</div>
                </div>
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Standards:</div>
                  <div class="detail__detail-value">Common Core 4.3.1</div>
                </div>
              </div>
              <div class="column column--half column--last">
                <div class="detail__detail-item">
                  <div class="detail__detail-key">Outcomes:</div>
                  <div class="detail__detail-value">4.3.1, 3.5.2</div>
                </div>
                <div class="detail__detail-item">
                  <div class="detail__detail-key">License:</div>
                  <div class="detail__detail-value">All Rights Reserved</div>
                </div>
              </div>
            </div>
            <hr>
            <div class="detail__detail">
              <div class="column column--half column--first">
                <h3 class="detail__detail-title">Part Of</h3>
                <a class="button button--block border--collection" href="#">
                  <span class="icon icon-layers color--collection"></span>
                  Math 101 Collection
                </a>
                <a class="button button--block border--collection" href="#">
                  <span class="icon icon-layers color--collection"></span>
                  Algebra Objects
                </a>
                <a class="button button--block border--collection" href="#">
                  <span class="icon icon-layers color--collection"></span>
                  Kinesthetic Objects
                </a>
              </div>
              <div class="column column--half column--last">
                <h3 class="detail__detail-title">Shared With</h3>
                <a class="button button--block border--default" href="#">
                  <span class="icon icon-users2 color--default"></span>
                  Math Teachers
                </a>
                <a class="button button--block border--default" href="#">
                  <span class="icon icon-user color--default"></span>
                  Mrs. Johnson
                </a>
              </div>
            </div>
          </div>
          <div class="expandable">
            <div class="expandable__header">
              <h2 class="expandable__title">Version History</h2>
              <button class="expandable__icon"><span class="icon icon-chevron-left"></span></button>
            </div>
            <div class="expandable__content">
              <!--#include virtual="/inc/expandable-item.html" -->
              <!--#include virtual="/inc/expandable-item.html" -->
              <!--#include virtual="/inc/expandable-item.html" -->
              <!--#include virtual="/inc/expandable-item.html" -->
              <!--#include virtual="/inc/expandable-item.html" -->
            </div>
          </div>
        </div>
        <div class="column column--one-third">
          <div class="detail__image">
            <img src="../img/image.jpg">
          </div>
          <div class="detail__buttons">
            <button class="button button--block button--reverse background--default">
              <span class="icon icon-eye"></span>
              Preview Object
            </button>
            <button class="button button--block button--reverse background--default">
              <span class="icon icon-plus"></span>
              Import to Course
            </button>
            <button class="button button--block button--reverse background--default">
              <span class="icon icon-plus"></span>
              Add to Collection
            </button>
            <button class="button button--block button--reverse background--dark">
              <span class="icon icon-pencil"></span>
              Edit Object
            </button>
            <button class="button button--block button--reverse background--dark">
              <span class="icon icon-exit-up"></span>
              Share Object
            </button>
            <button class="button button--block button--reverse background--dark">
              <span class="icon icon-download2"></span>
              Download
            </button>
          </div>
          <!--#include virtual="/inc/outline.html" -->
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->