
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <div class="search">
        <div class="search__search">
          <input type="text" class="search__input" name="q" placeholder="Search groups">
          <button class="search__button">Search</button>
        </div>
      </div>
    </div>
    <div class="column column--one-third">
      <div class="sidebar">
        <button class="button button--block border--default color--default">
          Create New Group
        </button>
      </div>
    </div>
    <div class="column column--two-thirds text--justify">
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <!--#include virtual="/inc/group.html" -->
      <div class="pagination">
        <ul>
          <li><a class="pagination__page pagination__page--nav pagination__page--nav-prev" href="#"><span class="icon icon-chevron-left"></span></a></li>
          <li><a class="pagination__page pagination__page--is-active" href="#">1</a></li>
          <li><a class="pagination__page" href="#">2</a></li>
          <li><a class="pagination__page" href="#">3</a></li>
          <li class="pagination__page-gap">…</li>
          <li><a class="pagination__page" href="#">24</a></li>
          <li><a class="pagination__page" href="#">25</a></li>
          <li><a class="pagination__page pagination__page--nav pagination__page--nav-next" href="#"><span class="icon icon-chevron-right"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->