<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="overlay"></div>
  <div class="modal">
    <div class="modal__window">
      <div class="modal__bar">Alert</div>
        <div class="modal__content">
          <div class="column column--half column--first">
            <p><strong>Are you sure you want to update the following objects?</strong></p>
          </div>
          <div class="column column--half column--last">
            <div class="modal__list">
              <ul>
                <li>Curabitur Rutrum Leo</li>
                <li>Proin Non Feugiat Lorem</li>
                <li>In Auctor Ipsum</li>
                <li>Sed Dui Turpis</li>
                <li>Commodo Accumsan Dignissim</li>
                <li>Curabitur Rutrum Leo</li>
                <li>Proin Non Feugiat Lorem</li>
                <li>In Auctor Ipsum</li>
                <li>Sed Dui Turpis</li>
                <li>Commodo Accumsan Dignissim</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal__buttons">
          <button class="button border--default float--left color--default">Dismiss</button>
          <button class="button background--default button--reverse float--right">Update</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->