<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="overlay"></div>
  <div class="modal">
    <div class="modal__window">
      <div class="modal__bar">Import Into Curve</div>
        <div class="modal__content">
          <!--#include virtual="/inc/browser.html" -->
          <div class="modal__item">
            <div class="modal__key">Module:</div>
            <div class="modal__value">
              <div class="dropdown">
                <div class="dropdown__item--selected">
                  Select Module
                </div>
                <div class="dropdown__content">
                  <div class="dropdown__item">Module 1</div>
                  <div class="dropdown__item">Module 2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal__item">
            <div class="modal__key">Title:</div>
            <div class="modal__value">
              <input class="modal__input" type="text" placeholder="Title">
            </div>
          </div>
          <div class="modal__item">
            <div class="modal__key">Indentation:</div>
            <div class="modal__value">
              <div class="dropdown">
                <div class="dropdown__item--selected">
                  Select Indentation
                </div>
                <div class="dropdown__content">
                  <div class="dropdown__item">Level 1</div>
                  <div class="dropdown__item">Level 2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal__item">
            <div class="modal__key">Account:</div>
            <div class="modal__value">
              <div class="dropdown">
                <div class="dropdown__item--selected">
                  Select Account
                </div>
                <div class="dropdown__content">
                  <div class="dropdown__item">Account 1</div>
                  <div class="dropdown__item">Account 2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal__item">
            <div class="modal__key">Term:</div>
            <div class="modal__value">
              <div class="dropdown">
                <div class="dropdown__item--selected">
                  Select Term
                </div>
                <div class="dropdown__content">
                  <div class="dropdown__item">Term 1</div>
                  <div class="dropdown__item">Term 2</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal__item">
            <div class="modal__key">Section:</div>
            <div class="modal__value">
              <div class="dropdown">
                <div class="dropdown__item--selected">
                  Select Section
                </div>
                <div class="dropdown__content">
                  <div class="dropdown__item">Section 1</div>
                  <div class="dropdown__item">Section 2</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal__buttons">
          <button class="button border--default float--left color--default">Dismiss</button>
          <button class="button background--default button--reverse float--right">Update</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->