
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <div class="search">
        <div class="search__options">
          <label class="search__label" for="external-resources">
            <input type="checkbox" class="search__checkbox" name="external-resources" id="external-resources">
            <span class="search__label-text">Include External Resources</span>
          </label>
        </div>
        <div class="search__search">
          <input type="text" class="search__input" name="q" placeholder="Search by Keyword, Author, Title, Standard, Metadata or Outcomes…">
          <button class="search__button">Search</button>
        </div>

        <div class="search__footer">
          <div class="search__page-information">
            <p><strong>Page 1 of 25</strong> (150 Results)</p>
          </div>
          <div class="pagination pagination--dark">
            <ul>
              <li><a class="pagination__page pagination__page--nav pagination__page--nav-prev" href="#"><span class="icon icon-chevron-left"></span></a></li>
              <li><a class="pagination__page pagination__page--is-active" href="#">1</a></li>
              <li><a class="pagination__page" href="#">2</a></li>
              <li><a class="pagination__page" href="#">3</a></li>
              <li class="pagination__page-gap">…</li>
              <li><a class="pagination__page" href="#">24</a></li>
              <li><a class="pagination__page" href="#">25</a></li>
              <li><a class="pagination__page pagination__page--nav pagination__page--nav-next" href="#"><span class="icon icon-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column column--one-third">
      <div class="sidebar">
        <div class="widget">
          <h2 class="widget__title">Filter Results</h2>
          <div class="widget__content">
            <button class="button button--block is-active button--default">
              <div class="button__icon">
                <span class="icon icon-check"></span>
              </div>
              <div class="button__content">
                All <span class="button__meta">(150)</span>
              </div>
            </button>
            <button class="button button--block button--default">
              <div class="button__icon">&nbsp;</div>
              <div class="button__content">
                Personal <span class="button__meta">(55)</span>
              </div>
            </button>
            <button class="button button--block button--default">
              <div class="button__icon">&nbsp;</div>
              <div class="button__content">
                Shared <span class="button__meta">(114)</span>
              </div>
            </button>
            <button class="button button--block button--default">
              <div class="button__icon">&nbsp;</div>
              <div class="button__content">
                Imported <span class="button__meta">(11)</span>
              </div>
            </button>
          </div>
        </div>
        <div class="widget">
          <h2 class="widget__title">Type(s)</h2>
          <div class="widget__content">
            <button class="button button--block">
              <div class="button__icon">
                <span class="icon icon-check"></span>
              </div>
              <div class="button__content">
                All
              </div>
            </button>
            <button class="button button--block is-active background__active--course border__active--course">
              <div class="button__icon">
                <span class="icon icon-book2"></span>
              </div>
              <div class="button__content">
                Courses
              </div>
            </button>
            <button class="button button--block background__active--module">
              <div class="button__icon">
                <span class="icon icon-frame-expand"></span>
              </div>
              <div class="button__content">
                Modules
              </div>
            </button>
            <button class="button button--block background__active--collection">
              <div class="button__icon">
                <span class="icon icon-layers"></span>
              </div>
              <div class="button__content">
                Collections
              </div>
            </button>
            <button class="button button--block is-active background__active--assignment border__active--assignment">
              <div class="button__icon">
                <span class="icon icon-chart-growth"></span>
              </div>
              <div class="button__content">
                Assignments
              </div>
            </button>
            <button class="button button--block background__active--file">
              <div class="button__icon">
                <span class="icon icon-file-empty"></span>
              </div>
              <div class="button__content">
                Files
              </div>
            </button>
            <button class="button button--block background__active--ebook">
              <div class="button__icon">
                <span class="icon icon-book"></span>
              </div>
              <div class="button__content">
                Ebooks
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="column column--two-thirds text--justify">
      <!--#include virtual="/inc/result.html" -->
      <!--#include virtual="/inc/result.html" -->
      <!--#include virtual="/inc/result.html" -->
      <!--#include virtual="/inc/result.html" -->
      <!--#include virtual="/inc/result.html" -->
      <!--#include virtual="/inc/result.html" -->
      <div class="pagination">
        <ul>
          <li><a class="pagination__page pagination__page--nav pagination__page--nav-prev" href="#"><span class="icon icon-chevron-left"></span></a></li>
          <li><a class="pagination__page pagination__page--is-active" href="#">1</a></li>
          <li><a class="pagination__page" href="#">2</a></li>
          <li><a class="pagination__page" href="#">3</a></li>
          <li class="pagination__page-gap">…</li>
          <li><a class="pagination__page" href="#">24</a></li>
          <li><a class="pagination__page" href="#">25</a></li>
          <li><a class="pagination__page pagination__page--nav pagination__page--nav-next" href="#"><span class="icon icon-chevron-right"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->