<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <h1 class="detail__title">Shared Repositories</h1>
    </div>
    <div class="column column--one-third">
      <div class="sidebar">
        <button class="button button--block border--default">
          <div class="button__icon">
            <span class="icon icon-database-add"></span>
          </div>
          <div class="button__content color--default">
            Add Repository
          </div>
        </button>
      </div>
    </div>
    <div class="column column--two-thirds">
      <div class="detail__content detail__content--no-bar">
        <div class="browser">
          <div class="browser__options">
            <div class="browser__search">
              <input type="text" class="browser__input" name="q" placeholder="Filter Repositories">
            </div>
            <div class="browser__items">
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Houghton Mifflin Harcourt
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  LearningRegistry.org
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  McGraw Hill
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  OER Commons
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Pearson
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Safari Montage
                </div>
              </div>
            </div>
          </div>
          <div class="browser__selected">
            <button class="button button--block button--browser-item">
              <div class="button__icon">
                <span class="icon icon-database"></span>
              </div>
              <div class="button__content">
                <span class="icon icon-cross-circle"></span>
                <div class="button__state button__state--enabled">Enabled</div>
                Tennessee Book Company
              </div>
            </button>
            <button class="button button--block button--browser-item">
              <div class="button__icon">
                <span class="icon icon-database"></span>
              </div>
              <div class="button__content">
                <span class="icon icon-cross-circle"></span>
                <div class="button__state button__state--disabled">Disabled</div>
                Merlot
              </div>
            </button>
          </div>
        </div>
        <div class="detail__buttons">
          <button class="button border--default color--default float--left">Cancel</button>
          <button class="button background--default button--reverse float--right">Save</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->