<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <h1 class="detail__title">Standards</h1>
    </div>
    <div class="column column--one-third">
      <div class="sidebar">
        <button class="button button--block border--default">
          <div class="button__icon">
            <span class="icon icon-bookmark2"></span>
          </div>
          <div class="button__content color--default">
            Add Standard
          </div>
        </button>
      </div>
    </div>
    <div class="column column--two-thirds">
      <div class="detail__content detail__content--no-bar">
        <div class="browser">
          <div class="browser__options">
            <div class="browser__search">
              <input type="text" class="browser__input" name="q" placeholder="Filter Standards">
            </div>
            <div class="browser__items">
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Alabama Standards
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Alaska Standards
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Arkansas Standards
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Common Core English Language Arts
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  Common Core Mathematics
                </div>
              </div>
              <div class="browser__item">
                <div class="browser__item-icon">
                  <span class="icon icon-plus-circle"></span>
                </div>
                <div class="browser__item-content">
                  National Geography Education Standards
                </div>
              </div>
            </div>
          </div>
          <div class="browser__selected has-search">
            <div class="browser__search">
              <input type="text" class="browser__input" name="q" placeholder="Search Linked Standards">
            </div>
            <div class="browser__items">
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--enabled">Enabled</div>
                  Tennessee Standards
                </div>
              </button>
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--disabled">Disabled</div>
                  National Standards for Arts Education
                </div>
              </button>
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--disabled">Disabled</div>
                  National Standards for Arts Education
                </div>
              </button>
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--disabled">Disabled</div>
                  National Standards for Arts Education
                </div>
              </button>
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--disabled">Disabled</div>
                  National Standards for Arts Education
                </div>
              </button>
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--disabled">Disabled</div>
                  National Standards for Arts Education
                </div>
              </button>
              <button class="button button--block button--browser-item">
                <div class="button__icon">
                  <span class="icon icon-bookmark2"></span>
                </div>
                <div class="button__content">
                  <span class="icon icon-cross-circle"></span>
                  <div class="button__state button__state--disabled">Disabled</div>
                  National Standards for Arts Education
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="detail__buttons">
          <button class="button border--default color--default float--left">Cancel</button>
          <button class="button background--default button--reverse float--right">Save</button>
        </div>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->