
<!--#include virtual="/inc/header.html" -->
<main class="main">
  <div class="container">
    <div class="column column--full">
      <div class="search">
        <div class="search__options">
          <label class="search__label" for="external-resources">
            <input type="checkbox" class="search__checkbox" name="external-resources" id="external-resources">
            <span class="search__label-text">Include Past Updates</span>
          </label>
        </div>
        <div class="search__search">
          <input type="text" class="search__input" name="q" placeholder="Search by Keyword, Author, Title, Standard, Metadata or Outcomes…">
          <button class="search__button">Search</button>
        </div>

        <div class="search__footer">
          <div class="search__page-information">
            <p><strong>Page 1 of 25</strong> (150 Results)</p>
          </div>
          <div class="pagination pagination--dark">
            <ul>
              <li><a class="pagination__page pagination__page--nav pagination__page--nav-prev" href="#"><span class="icon icon-chevron-left"></span></a></li>
              <li><a class="pagination__page pagination__page--is-active" href="#">1</a></li>
              <li><a class="pagination__page" href="#">2</a></li>
              <li><a class="pagination__page" href="#">3</a></li>
              <li class="pagination__page-gap">…</li>
              <li><a class="pagination__page" href="#">24</a></li>
              <li><a class="pagination__page" href="#">25</a></li>
              <li><a class="pagination__page pagination__page--nav pagination__page--nav-next" href="#"><span class="icon icon-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="column column--one-third">
      <div class="sidebar">
        <div class="widget">
          <div class="widget__content">
            <button class="button button--block">Select All</button>
            <button class="button button--block">Deselect All</button>
            <button class="button button--block">Dismiss All</button>
            <button class="button button--block is-active">Update Selected</button>
          </div>
        </div>
      </div>
    </div>
    <div class="column column--two-thirds">
      <!--#include virtual="/inc/update.html" -->
      <!--#include virtual="/inc/update.html" -->
      <!--#include virtual="/inc/update.html" -->
      <!--#include virtual="/inc/update.html" -->
      <!--#include virtual="/inc/update.html" -->
      <!--#include virtual="/inc/update.html" -->
      <div class="pagination">
        <ul>
          <li><a class="pagination__page pagination__page--nav pagination__page--nav-prev" href="#"><span class="icon icon-chevron-left"></span></a></li>
          <li><a class="pagination__page pagination__page--is-active" href="#">1</a></li>
          <li><a class="pagination__page" href="#">2</a></li>
          <li><a class="pagination__page" href="#">3</a></li>
          <li class="pagination__page-gap">…</li>
          <li><a class="pagination__page" href="#">24</a></li>
          <li><a class="pagination__page" href="#">25</a></li>
          <li><a class="pagination__page pagination__page--nav pagination__page--nav-next" href="#"><span class="icon icon-chevron-right"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<!--#include virtual="/inc/footer.html" -->